* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.site-wrapper {
    max-height: 98%;
    max-width: 95%;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-variant: small-caps;
}

h2 {
    font-size: 30px;
    font-variant: small-caps;
}

h3 {
    font-size: 25px;
}

a {
    color: black;
}

button {
    background: transparent;
    border: none !important;
    background-color: black;
    color: white;
    height: 34px;
    border-radius: 34px;
}

.textblock {
    font-size: 18px;
    margin: 30px;
    margin-left: 80px
}

hr {
    background-color: #AF9164;
    height: 2px;
    width: 100%;
    margin: 0 3%;
}

#number {
    width: 30px;
}

/* Incrementor */

.incrementButton {
	margin: 10px;
	margin-left: 0px;
}

#youPick {
    width: 30px;
}

.value-button {
	display: inline-block;
    background-color: black;
    color: white;
	margin: 0px;
	width: 40px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

#decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

#increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}


/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#btnSubmit {
    display: block;       
    margin: 0 auto;
    width: 200px;
    height: 40px;
    font-size: 30px;
    font-variant: small-caps;
}