* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.site-wrapper {
    max-height: 98%;
    max-width: 90%;
}

img {
    max-height: 400px;
    max-width: 400px;
}

.left {
    float: left;
    padding: 0 2% 2% 0;
}

.right {
    float: right;
    padding: 0 0 2% 2%;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-variant: small-caps;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-variant: small-caps;
}

h3 {
    font-size: 25px;
}

.textblock {
    font-size: 18px;
    margin: 50px;
}

#caption {
    width: 350px;
    font-size: 13px;
    font-style: italic;
    padding: 0 1%;
}

hr {
    background-color: #AF9164;
}

/* navbar */

.nav-wrapper {
    background-color: black;
    display: inline-block;
    padding: 3%;
    width: 100%;
    margin: 3%;
    text-align: justify;
}

.nav-links {
    display: flex;
}

.nav-link-wrapper {
    height: 30px;
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3%;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
}

.nav-link-wrapper a:hover {
    color: white;
}

button {
    background-color: black;
    color: white;
    border-radius: 25px;
    height: 25px;
    border: none !important;
}

button:hover {
    background-color: #AF9164;
}

a {
    color: #8a8a8a;
    text-decoration: none;
}

a:hover {
    color: #271a6e;
    text-decoration: none;
}

/* home */

#home-block {
    width: 100%;
    font-size: 18px;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

#hp1 {
    display: inline-block;
}

#hp2 {
    display: inline-block;
}

/* cellist */

#cellist-block {
    font-size: 18px;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

#cp1 {
    display: inline-block;
}

#cp2 {
    display: inline-block;
}

#cp3 {
    text-align: center;
}


/* librarian */

#librarian-block {
    font-size: 18px;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

#lp1 {
    display: inline-block;
}

#lp2 {
    display: inline-block;
}

#lp3 {
    display: inline-block;
}

/* educator */

.educator-block {
    font-size: 18px;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

#ep2 {
    display: inline-block;
}

#educator-img {
    height: 350px;
    grid-area: e-img;
}

/* developer */



/* footer */

.footer {
    text-align: right;
    font-size: 12px;
    margin-right: 10%;
}