* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.nav-wrapper{
    background-color: black;
    display: flex;
	flex-direction: row;
    padding: 30px;
}

.left-side{
    display: flex;
    margin: auto;
}

.nav-wrapper > .left-side > div {
    margin: auto;
    padding: 0px 40px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.nav-link-wrapper {
    height: 30px;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
}

.nav-link-wrapper a:hover {
    color: white;
}

.footer{
    text-align: right;
    font-size: 12px;
    margin-right: 10%;
}

h1{
    font-size: 50px;
    text-align: center;
    font-variant: small-caps;
}

h2{
    font-size: 30px;
    text-align: center;
    font-variant: small-caps;
}

h3{
    font-size: 25px;
}

.textblock{
    font-size: 18px;
    margin: 50px;
}

button {
    background-color: black;
    color: white;
    border-radius: 25px;
    height: 25px;
    border: none !important;
}

a {
    color: #8a8a8a;
    text-decoration: none;
}

a:hover {
    color: #271a6e;
    text-decoration: none;
}

img {
    height: 300px;
}